extends layout

block scripts
    script(type='text/javascript').
        var portfolios = !{JSON.stringify(portfolios)}
    script(src='/javascripts/portfolio_based_on_client.js')

block content
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h1.page-header New Recommendation
    //TODO: Use mixins
    form(action=url, method='post')
      .form-group.row
        label.col-sm-2.col-form-label(for='client_id') Client:
        .col-sm-10
          select#client_id.form-control(name='client_id')
            each client in clients
                option(value=client.client_id)= client.client_name + ' (' + client.client_id + ')'
      .form-group.row
        label.col-sm-2.col-form-label(for='portfolio_id') Portfolio:
        .col-sm-10
          select#portfolio_id.form-control(name='portfolio_id')
      .form-group.row
        label.col-sm-2.col-form-label(for='transaction_type') Transaction Type:
        .col-sm-10
          select#transaction_type.form-control(name='transaction_type')
            each trans in transaction_types
                option(value=trans)= trans
      .form-group.row
        label.col-sm-2.col-form-label(for='quantity') Quantity:
        .col-sm-10
          input#quantity.form-control(name='quantity', placeholder='10')
      .form-group.row
        label.col-sm-2.col-form-label(for='figi_id') Security
        .col-sm-10
          select#figi_id.form-control(name='figi_id')
            each security in securities
                option(value=security.figi_id)= security.ticker + ' (' + security.security_name + ')'

      button.btn.btn-primary(type='submit') Create
