extends layout

append styles
  link(href='/stylesheets/security_chart.css', rel='stylesheet')

block scripts
  script(type='text/javascript').
    var data = !{JSON.stringify(data)}
  script(src='/javascripts/security_chart.js')
  script(src='/javascripts/macd_chart.js')
  script(src='/javascripts/rsi_chart.js')

block content
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    .page-header
      h1= security.ticker
    .table-responsive
      table.table.table-striped
        thead
          tr
            th FIGI ID
            th Name
            th Type
            th Exchange
            th Company
            th Sector
            th Industry
          tbody
            tr
              td= security.figi_id
              td= security.security_name
              td= security.security_type
              td= security.exchange
              td= security.company_name
              td= security.sector
              td= security.industry
    h3 Security Price with Bollinger Bands
      .div#main-chart
    h3 MACD
      .div#macd-chart
    h3 RSI
      .div#rsi-chart
